<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lottoView</title>
    <style>
        body {
            text-align: center;
        }
        h2 {
            color: red;
        }
    </style>
</head>
<body>
<h1>로또 결과</h1>
<h2 th:utext="${lottoDTO.result}"></h2>
<img th:src="${ lottoDTO.ImgName }">

<th:block th:if="${ lottoDTO.ImgName.equals('images/rain.png')}">
    <h3><a th:href='${ #request.getHeader("referer") }'>재시도..</a></h3>
</th:block>


</body>
</html>