<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insertNews</title>
    <link rel="stylesheet" href="/css/insertNews.css">
</head>
<body>
<h1>뉴스 작성</h1>
<form method="post" action="/insert">
    <table>
        <tr>
            <th>제목</th>
            <td>
                <input type="text" name="title" placeholder="제목을 입력해주세요" required>
            </td>
        </tr>
        <tr>
            <th>작성자</th>
            <td>
                <input type="text" name="writer" placeholder="작성자명을 입력해주세요" required>
            </td>
        </tr>
        <tr>
            <th>글내용</th>
            <td>
                <textarea name="content" rows="15" placeholder="내용을 입력해주세요" required></textarea>
            </td>
        </tr>
    </table>
    <div class="buttons">
        <input type="submit" id="submit" value="저장">
        <input type="reset" id="reset" value="재작성">
        <input onclick="location.href='/newsmain'" type="button" id="cancel" value="취소">
    </div>
</form>
</body>
</html>
