<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>newsDetail</title>
    <link rel="stylesheet" href="/css/newsDetail.css">

</head>
<body>
<h1>뉴스 정보</h1>
<div style="padding-top:25px;text-align:center">
    <table>
        <tr>
            <th>제목</th>
            <td th:text="${news.title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${news.writer}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${news.cnt}"></td>
        </tr>
        <tr>
            <th>등록일자</th>
            <td th:text="${#temporals.format(news.writedate, 'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <th>글내용</th>
            <td th:text="${news.content}"></td>
        </tr>
    </table>
    <div class="buttons">
        <input th:onclick="|location.href='@{/newsmain}'|" type="button" id="tolist" value="목록보기"/>
        <input th:onclick="|location.href='@{/update/{id}(id=${news.id})}'|" type="button" id="modify" value="수정"/>
        <input th:onclick="|location.href='@{/delete/{id}(id=${news.id})}'|" type="button" id="delete" value="삭제"/>
    </div>
</div>
</body>
</html>
